@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}


html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  box-shadow: 0 0 15px 0 black;
  nav {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    img {
      filter: invert(1);
      width: 40%;
    }

    ul {
      display: flex;
      
      li {
        list-style: none;

        a {
          position: relative;
          text-decoration: none;
          color: white;
          font-size: clamp(2.3rem, 2vw, 2vw);
          letter-spacing: 0.5rem;
          word-spacing: -0.5rem;
          text-shadow: 1px 1px 1px black;

          &:nth-of-type(1) {
            margin-right: 50px;
          }

          &::before {
            position: absolute;
            content: "\02EF";
            bottom: -50%;
            left: 50%;
            transform: translateX(-50%);
            font-size: 7rem;
            transition: all 0.3s ease-in-out;
            opacity: 0;
          }

          &:hover::before {
            opacity: 1;
            transform: translate(-50%, 20%);
          }
        }
      }
    }
  }

  button {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    background: none;
    color: white;
    border: none;
    font-size: 3rem;
    font-weight: 800;
    cursor: pointer;
    border: 3px solid white;

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      width: 100%;
      height: 100%;
      background: black;
      transform: scaleY(0);
      transform-origin: top;
      transition: transform 0.4s ease-in-out;
      z-index: -1;
    }

    &:hover::before {
      transform-origin: bottom;
      transform: scaleY(1);
    }
  }

  ul.contact {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    li {
      list-style: none;

      a {
        text-decoration: none;
        font-size: clamp(1.8rem, 1.9vw, 1.9vw);
        color: white;
        margin-right: 30px;
        text-shadow: 1px 1px 1px black;

        i {
          margin-right: 10px;
        }
      }
    }
  }
  video {
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
}

section.routes {
  height: 100vh;
  background: url("../images/back.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  div.route {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 10px;
 

    div {
      position: relative;
      border-radius: 5rem;
      width: 20%;
      height: 75%;
      overflow: hidden;
      transition: all 0.2s linear;
      border: 2px solid white;

      &:hover {
        border-radius: 0px;
      }
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      div.route-text {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          color: white;
          font-size: clamp(2rem, 2.5vw, 2.5vw);
          margin-bottom: 2rem;
          font-weight: 600;
          text-shadow: 1px 1px 1px black;
        }
  
        p.name {
          margin-bottom: 20rem;
        }
        p.length {
          font-weight: 700;
        }
        p.time {
          font-weight: 700;
        }
        p.difficulty {
          font-weight: 500;
        }
  
      }
    }
  }
}

section.about{
  background: url("../images/back.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  div.about-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50vh 50vh 50vh 50vh 10vh;
    padding-top: 50px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      video {
        margin: 10px;
        height: 100%;
        width: 50%;
        object-fit: cover;
        border-radius: 5rem;
        border: 1px solid white;

      }

      p {
        border-radius: 1rem;
        color: white;
        padding: 10px;
        width: 50%;
        font-size: clamp(1.5rem, 1.3vw, 1.3vw);
        text-shadow: 1px 1px 1px black;
        background: rgba(0, 0, 0, 0.185);
      }
    }
  }

  div.totop {
    display: flex;
    justify-content: flex-end;
    a.top {
      color: white;
      text-decoration: none;
      font-size: 6rem;
      margin: 0 1rem 1rem 0;
    }
  }
}

h2.title {
  font-weight: 400;
  position: relative;
  font-size: clamp(3rem, 3.3vw, 3.3vw);
  text-align: center;
  transition: all 0.3s linear;
  text-decoration: underline;
  color:white;
  text-shadow: 1px 1px 1px black;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    width: 35%;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    height: 2px;
    width: 35%;
    background-color: white;
    transition: all 0.3s linear;
  }

  &:hover {
    letter-spacing: 0.3rem;
  }

  &:hover::before, &:hover::after {
    width: 0;
  }
}

@media (max-width:1200px){
  header nav ul li a {
    letter-spacing: 0;
    word-spacing: 0;
  }

  header ul.contact li a {
    margin-right: 20rem;
  }
}

@media (max-width:768px){

  header nav {
    padding: 0 10px;
  }
  header nav img {
    width: 50%;
  }
  header ul.contact {
    display: flex;
    flex-direction: column;
    bottom: 15%;
    width: 100%;
  }
  header ul.contact li {
    margin-top: 40px;
    text-align: center;
  }
  header ul.contact li a {
    display: block;
    margin-right: 0;
  }
  h2.title::before, h2.title::after {
     width: 30%;
  }
  section.about div.about-section {
    grid-template-rows: 80vw 80vw 80vw 80vw 10vw;
  }
}

@media (max-width:576px){
  header nav ul {
    display: none;
  }
  header nav img {
    width: 100%;
  }
  h2.title::before, h2.title::after {
    width: 15%;
 }
 section.routes div.route {
   flex-direction: column;
   padding: 20px 0 60px 0;
  }
  section.routes div.route div {
    border-radius: 0;
    width: 100%;
    height: 100%;
  }
  section.routes div.route div div.route-text {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  section.routes div.route div div.route-text p.name {
    margin-bottom: 20px;
  }
  section.routes div.route div div.route-text p {
    margin-right: 20px;
  }
  section.about div.about-section {
    grid-template-rows: 110vw 110vw 110vw 110vw 10vw;
    padding-top: 0;
  }
  section.about div.about-section div {
    flex-direction: column;
  }
  section.about div.about-section div video {
    height: auto;
    width: 90%;
  }
  section.about div.about-section div p {
    width: 90%;
  }
}

@media (max-width:480px){
  section.about div.about-section {
    grid-template-rows: 130vw 130vw 130vw 130vw 10vw;
  }
}

@media (max-width:380px){
  section.about div.about-section {
    grid-template-rows: 180vw 180vw 180vw 180vw 10vw;
  }
}